@import url('https://fonts.googleapis.com/css?family=Karla');

body {
    font-family: arial, sans-serif;
    background-color: #ddd;
    font-size: 1em;
    font-family: 'Karla', sans-serif;
  }

  .heading {
    margin-left: 0.5em;
  }

  .smalls > *, .mediums > *, .larges > * {
    border: 1px solid black;
    margin: 1em 1em 1em 0;
    padding: 0.5em;
    color: #eee;
  }

  .smalls > * {
    background: #023C09;
  }

  .mediums > *{
    background: #3C1518;
  }

  .larges > * {
    background: #111618;
  }

  .smalls, .mediums, .larges {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  .cart-icon {
    position: absolute;
    top: 1em;
    right: 2em;  
    display: flex;
  }

  .shake-icon {
    animation: shakeCart .4s ease-in-out forwards;
  }

  .fa-shopping-cart {
    font-size: 50px;
    color: #eee;
    background: #350836;
    border-radius: 5px;
    padding: 0.2em;
    cursor: pointer;
  }

  .cart-count {
    position: absolute;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    color: #eee;
    top: -30px;
    right: 0;
    background: #2bd156;
    padding: 0.2em;
    border-radius: 50%;
    font-size: 16px;
  }

  .total-payment {
    margin: 0.2em 1em;
  }

  .add {
    position: absolute;
    bottom: 10px;
    height: 30px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
  }

  .checkout-section {
    width: 325px;
    padding: 0.5em 0;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }

  .checkout-section input {
    border: 1px solid #350836;
    outline: none;
    padding: 0.5em;
    background: #eee;
  }

  .checkout-section button {
    width: 118px;
    border: none;
    outline: none;
    padding: 0.5em;
    background: #2bd156;
    letter-spacing: 1px;
    border-radius: 5px;
    color: #eee;
  }

  .error {
    background: red;
    text-align: center;
    padding: 1em;
    width: 100%;
  }

  .checkout-text {
    background: #2bd156;
    height: 3em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    font-size: 1em;
    text-align: center;
    animation-name: fadeOut;
    animation-duration: 4s;
    animation-fill-mode: both;
    position: absolute;
    top: 1em;
    left: 35%;
    opacity: 1;
  }

  @keyframes fadeOut {
    0% {opacity: 1; display: block;}
    100% {opacity: 0; display: none;}
 }

 @keyframes shakeCart {
  25% {
    transform:translateX(6px)
  }
  50% {
    transform:translateX(-4px);
  }
  75% {
    transform:translateX(2px);
  }
  100% {
    transform:translateX(0);
  }
}
  
  .small, .medium, .large {
    position: relative;
    height: 100%;
    min-height: 230px;
    color: #eee;
  }

  .small {
    background-color: #023C09;

    
  }
  
  .medium {
    background-color: #3C1518;
  }
  
  .large {
    background-color: #111618;
  }
  
  .specials div {
    flex: 1;
    margin: 1em;
    padding: 1em;
    
  }
  
  .small img {
    width: 4em;
  }
  
  .medium img {
    width: 5em;
  }
  
  
  .large img {
    width: 7em;
    
  }
  
  
  
  
  .footer {
    display: flex;
    background-color: #350836;
    margin: 1em;
  }
  
  .footer div {
    flex: 1;
    padding: 1em;
    color: #eee;
  }

  h2.cart-heading {
    display: none;
  }

  .cart {
    margin: 1em;
  }

  button {
    cursor: pointer;
  }
  
  
  @media (min-width: 768px){
  
    .specials {
      display: flex;
    }

    .checkout-text{
      width: 35%;
    }

    .fa-shopping-cart {
      padding: 0.5em;
    }

    .small, .medium, .large {
      position: relative;
      height: 100%;
      min-height: 340px;
    }
    
  }
  
    