body {
    background: white;
    font-family: arial, sans-serif;
    background-color: #3FA9E2;
    font-size: 0.75em;
  }

  .smalls, .mediums, .larges {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0;
  }

  .add {
    position: absolute;
    bottom: 10px;
    height: 30px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 10px;
  }

  .checkout-section {
      margin: 5px 0;
  }
  
  .small, .medium, .large {
    position: relative;
    height: 100%;
    min-height: 230px;
  }

  .small {
    background-color: #E03571;

    
  }
  
  .medium {
    background-color: #E2AE3D;
  }
  
  .large {
    background-color: #E06733;
  }
  
  .specials div {
    flex: 1;
    margin: 1em;
    padding: 1em;
    
  }
  
  .small img {
    width: 4em;
  }
  
  .medium img {
    width: 5em;
  }
  
  
  .large img {
    width: 7em;
    
  }
  
  
  
  
  .footer {
    display: flex;
  }
  
  .footer div {
    flex: 1;
  /*   border: 1px solid;
     */  margin-top: 1em;
    padding: 1em;
    background-color: #CDD93F;
  }
  
  
  @media (min-width: 768px){
  
    .specials {
      display: flex;
    }
    
    body {
      font-size: 1em;
    }

    .small, .medium, .large {
      position: relative;
      height: 100%;
      min-height: 330px;
    }
    
  }
  
    